html { background-color: rgb(119,136,153) } 
body {
    min-height: 100vh;
    max-width: 600px;
    background-color: papayawhip; 
    margin: 0 auto;
    text-align: center;
}
form {
    max-width: 400px;
    margin: auto;
    text-align: center;
 }
h2 {
    font-family: sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
}
strong {
    font-weight: 700;
    background-color: rgb(128, 255, 128)
}
p {
    font-family: sans-serif;
}
label {
	font-weight: 600;
}
center {
  position: relative;
  text-align: center;
  border: 3px solid green;
}
container{
     display: table;
     max-width:1200px;
     width:auto;
     margin:0 auto
}
