<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<img th:src="@{/images/wl-logo.png}" />
	<h2>File Upload Application</h2>
	<title>File upload application</title>
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
 	<script type="text/javascript" th:src="@{/styles/cssandjs/action.js}"></script>
</head>
<body>
	<div>
		<form method="POST" enctype="multipart/form-data" action="/" name="mainForm">
			<table>
				<tr>
					<td style="height:10px;width:100px">File to upload:</td>
					<td style="height:10px;width:100px"><input type="file" name="file" onchange="fileValidation()"/></td>
				</tr>
				<tr>
					<td style="height:10px;width:100px"></td>
					<td style="height:10px;width:100px"><button id="uploadBtn" type="submit">Upload</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>
